<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Analyzing...</title>
    <meta http-equiv = "refresh" content = "1; url =/result" />
    <style>
        .aligncenter {
            text-align: center;
        }
    </style>
</head>
<body>
    {% load static %}
    <h1 style="text-align:center; color:#1E8A89;  padding:30px; font-size:40px; background-color:white;"><b>Analyzing...</b></h1>
    <p class="aligncenter">
        <img src="{% static 'app/analyze.jpg' %}" height="390px" width="390px">
    </p>
 <script>
   </script>
</body>
</html>